# Git
.git
.gitignore

# Entornos virtuales y Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Documentación y desarrollo
*.md
!README.md
artifacts/
scripts/
nginx_vps/

# Node
node_modules/
npm-debug.log*

# Editores
.vscode/
.idea/
.DS_Store
